<app-navbar></app-navbar>
<div class="container p-5 ">
    <div class="mt-5">
        <div class="mb-5">
            <p class="fs-2 ">Countries</p>
        </div>
    </div>
        
        <div class="mat-elevation-z8 ">
            <table mat-table [dataSource]="dataSource" class="bg-light ">
          
              <!-- Position Column -->
              <ng-container matColumnDef="title" >
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Name </th>
                <td mat-cell *matCellDef="let country" class="cell" class="text-dark"> {{country.title }} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="flag">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Flag </th>
                <td mat-cell *matCellDef="let country" class="p-2 cell text-dark" ><img src="{{country.flag}}" alt="" class="avatar"></td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="cases">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Cases </th>
                <td mat-cell *matCellDef="let country" class="text-dark"> {{country.cases}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="deaths">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Deaths </th>
                <td mat-cell *matCellDef="let country" class="text-dark"> {{country.deaths}} </td>
              </ng-container>
          
              <ng-container matColumnDef="recovered">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Recovered </th>
                <td mat-cell *matCellDef="let country" class="text-dark"> {{country.recovered}} </td>
              </ng-container>

              <ng-container matColumnDef="tests">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Tests </th>
                <td mat-cell *matCellDef="let country" class="text-dark"> {{country.tests}} </td>
              </ng-container>

              <ng-container matColumnDef="population">
                <th mat-header-cell *matHeaderCellDef class="text-dark"> Population </th>
                <td mat-cell *matCellDef="let country" class="text-dark"> {{country.population}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

    
      
</div>

<ngx-spinner></ngx-spinner>