<app-navbar></app-navbar>
<div class="container p-5"  >
  <div class="mt-5 d-flex justify-content-between">
    <div class="mb-5">
      <p class="fs-2 fw-bold text-muted">Covid Data Information</p>
    </div>
    <div class="mb-5">
    
    </div>
    <div class="search-item">
    <div class="search">
      <a class="btn"><i class="fas fa-search"></i></a>
    </div>
    <div class="col-md-12">
      <input
      #searchKey 
        class="form-control"
        type="text"
        placeholder="Search"
        (keyup)="applyFilter(searchKey.value)"
      />
    </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
  
      <table 
      mat-table
      [dataSource]="dataSource"
      class="bg-light"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let country" class="cell text-dark">
          {{ country.title }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef class="text-dark">Flag</th>
        <td mat-cell *matCellDef="let country" class="p-1 text-dark">
          <img src="{{ country.flag }}" alt="" class="avatar" />
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="cases">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by cases"
        >
          Cases
        </th>
        <td mat-cell *matCellDef="let country" class="text-dark">
          {{ country.cases }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="deaths">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by deaths"
        >
          Deaths
        </th>
        <td mat-cell *matCellDef="let country" class="text-dark">
          {{ country.deaths }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recovered">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by recovered"
        >
          Recovered
        </th>
        <td mat-cell *matCellDef="let country" class="text-dark">
          {{ country.recovered }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tests">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by tests"
        >
          Tests
        </th>
        <td mat-cell *matCellDef="let country" class="text-dark">
          {{ country.tests }}
        </td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-dark"
          mat-sort-header
          sortActionDescription="Sort by population"
        >
          Population
        </th>
        <td mat-cell *matCellDef="let country" class="text-dark">
          {{ country.population }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
 
    
    
  </div>
  
</div>


<ngx-spinner></ngx-spinner>
