<app-navbar></app-navbar>
<div class="main container">
  <div class="page-header">
    <div class="header-title">
      <p class="fw-light text-muted">{{'Countries'|translate}}</p>
    </div>
    <div class="header-actions">
      <div class="search">
        <a class="btn"><i class="fas fa-search"></i></a>
      </div>
      <div class="col-md-3">
        <input
          [value]="searchText"
          class="form-control"
          type="text"
          [placeholder]="'Search-Country'|translate"
          (change)="onChangeEvent($event)"
        />
      </div>
      <div class="ms-3">
        <select #countrySort
          class="sort action-item form-select"
          aria-label="sort"
          aria-placeholder="Sort By"  (change)='onOptionsSelected(countrySort.value)'>
          <option value="name">{{'Country-Name'|translate}}</option>
          <option value="cases">{{'Number-of-Cases'|translate}}</option>
          <option value="deaths">{{'Number-of-Deaths'|translate}}</option>
          <option value="recovered">{{'Number-of-Recovered'|translate}}</option>
        </select>
      </div>
      <div class="ms-3 ">
        <select #selectLanguage (change)="changeLang(selectLanguage.value)" class="form-select" >
          <option  disabled selected >{{'Language'|translate}} </option>
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </div>
      <div class="ms-3">
        <mat-paginator
        class="bg-white text-dark"
        #paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="OnPageChange($event)"
      >
      </mat-paginator>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div
      class="no-data text-muted"
      *ngIf="!isLoading && filteredCountries.length === 0"
    >
     {{' No-Data-Found...!!'|translate}}
    </div>
    <div class="card" *ngFor="let country of filteredCountries">
      <div class="card-body">
        <div class="country-header">
          <img src="{{ country.flag }}" />
          <p class="card-title card-item">{{ country.title }}</p>
        </div>
        <div class="country-body">
          <div class="country-section">
            <div class="card-item text-muted">{{'Cases'|translate}}</div>
            <div class="card-item text-muted">{{ country.cases }}</div>
          </div>
          <div class="country-section">
            <div class="card-item text-muted">{{'Deaths'|translate}}</div>
            <div class="card-item text-muted">{{ country.deaths }}</div>
          </div>
          <div class="country-section">
            <div class="card-item text-muted">{{'Recovered'|translate}}</div>
            <div class="card-item text-muted">{{ country.recovered }}</div>
          </div>
          <div class="country-section">
            <div class="card-item text-muted">{{'Tests'|translate}}</div>
            <div class="card-item text-muted">{{ country.tests }}</div>
          </div>
          <div class="country-section">
            <div class="card-item text-muted">{{'Population'|translate}}</div>
            <div class="card-item text-muted">{{ country.population }}</div>
          </div>
        </div>
        <button
          class="edit-btn"
          [routerLink]="['/edit-country', country.updated]"
        >
          <i class="far fa-pencil"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
