.color{
    background-color: #3941e6;
    width: 5%;
    border-radius: 2px;
    height: 100vh;
    position:fixed;
}
.sidebar-footer{
height: 50px;
position: absolute;
bottom: 0;
}
.active-link{
    background-color: #09256e;
    border-radius: 2px;
    padding: 10px;
    font-size: 25px;
     
}
.fas{
    font-size: 25px;
}
