<div class="float-start container  color">
    <div class="mb-3 mt-5 d-flex justify-content-center" routerLinkActive="active-link ">
       <a routerLink="/home" routerLinkActive [routerLinkActiveOptions]="{exact:
        true}" > <i class="fas fa-grip-vertical text-white "></i></a>
    </div>
    <div class="mb-3 mt-5 d-flex justify-content-center " routerLinkActive="active-link">
       <a routerLink="/countries" routerLinkActive  [routerLinkActiveOptions]="{exact:
        true}"> <i class="fas fa-flag  text-white "></i></a>
    </div>
    
    <div class=" sidebar-footer mb-4 p-1">
       <a routerLink="/home" (click)="logout()" > <i class="fas fa-power-off fa-2x text-white "></i></a>
    </div>
</div>