@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.body{
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    height: 100vh;
}
.font-size{
    font-size: 60px;
}

