<app-navbar></app-navbar>
<div class="container p-2">
    <div class=" col-md-2 float-end">
        <select #selectLanguage (change)="changeLang(selectLanguage.value)" class="form-select" >
            <option  disabled selected i18n="choose-lang|select the language">{{'Choose-language'|translate}}</option>
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
          </select>
    </div>
    
    <div class="mt-5">
        <div class="row">
            <div class="col-md-1 col-1">
                <p class="text-muted fs-1 ">{{'Total'|translate}}</p>
            </div>
            <div class="col-md-11 col-11 mt-3">
                <hr>
            </div>
        </div>
        
    </div>
    <div class="mt-2">
        <div class="row justify-content-between d-flex p-3">
            <div class="col-md-3 col-12 mt-2 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4">{{'Total-Cases'|translate}}</p>
                <p class="fs-4">{{covidData.report.cases}}</p>
            </div>
            <div class="col-md-3 col-12 mt-2 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4">{{'Total-Deaths'|translate}}</p>
                <p class="fs-4">{{covidData.report.deaths}}</p>
            </div>
            <div class="col-md-3 col-12 mt-2 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4">{{'Total-Recovered'|translate}}</p>
                <p class="fs-4">{{covidData.report.recovered}}</p>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-md-1">
                <p class="text-muted fs-2 ">{{'Today'|translate}}</p>
            </div>
            <div class="col-md-11 mt-3 ">
                <hr>
            </div>
        </div>
        
    </div>
    <div class="mt-4">
        <div class="row justify-content-between d-flex p-3">
            <div class="col-md-3 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4"> {{'Cases'|translate}}</p>
                <p class="fs-4">{{covidData.report.todayCases}} </p>
            </div>
            <div class="col-md-3 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4">{{'Deaths'|translate}}</p>
                <p class="fs-4">{{covidData.report.todayDeaths}}</p>
            </div>
            <div class="col-md-3 p-4 text-center text-primary shadow b-radius">
                <p class="fs-3 mb-4">{{'Recovered'|translate}}</p>
                <p class="fs-4">{{covidData.report.todayRecovered}}</p>
            </div>
        </div>
    </div>
    
</div>
<ngx-spinner></ngx-spinner>