@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.b-radius{
    border-radius: 5px;
    border: 1px solid #3941e6;
    :hover{
        cursor: pointer;
    }
}
